<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3de6a1d7-94eb-4f4d-9c69-b55bc8997b9d/resourceGroups/AlexLinneman/providers/Microsoft.Web/sites/AlexLinneman</ResourceId>
    <ResourceGroup>AlexLinneman</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://alexlinneman.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>alexlinneman.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlexLinneman</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlexLinneman</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>