@{
    ViewData["Title"] = "Contact";
}
    <div>
        <div class="row" style="background-color: black; text-align:center;">
            <div class="col-md-12">
                <h1 style="color: white">Contact Me</h1>
            </div>
        </div>
        <div style="background-color: #DADADA;">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size:18px;">
                        As a disclaimer, between my internship, my schoolwork, and my personal life, I maintain a
                        busy life. So, often times the best way to reach me is to email or text me because I am more
                        often in a position where I can reply to those as opposed to answering a phone call. With that
                        being said, do not let that deter you from getting in touch with me. I will always get back to
                        you as soon as I can. I look forward to hearing from you soon!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Call or text me at <a href="tel:308-249-0323">308-249-0323</a></h2>
                </div>
                <div class="col-md-6">
                    <h2>Email me at <a href="mailto:linneman23@gmail.com">linneman23@gmail.com</a></h2>
                </div>
            </div>
        </div>
    </div>
